.texts{
    position: absolute;
    top: 5%;
    left: 34%;
    height: 88%;
    width: 32%;
}

.header{
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 5%;
    max-height: 5%;
}

.reason-background{
    position: absolute;
    top: 5%;
    height: 30%;
    width: 100%;
}

.face-background{
    position: relative;
    top: 28%;
    height: 30%;
    width: 100%;
}

.desc-background{
    position: relative;
    top: 25%;
    height: 45%;
    width: 100%;
}

.background{
    position: absolute;
    top: 25%; /* Ekranın üst yarısına çıkart */
    transform: translateY(-50%); /* Kendi yüksekliğinin yarısı kadar geri çek */
    left: 50%;
    transform: translateX(-50%); /* Kendi yüksekliğinin yarısı kadar geri çek */
    text-align: center;
    height: 500px;
    width: 20%;
    background-color: rgba(43,57,70,255);
    border-radius: 10px;
}

input{
    font-size: 15px;
    background-color: transparent;
    outline: none;
    border: 1.5px solid white;
    border-radius: 2px;
    width: 60%;
    height: 6%;
    padding: 10px;
}

input, select, textarea{
    color: white;
}

textarea:focus, input:focus {
    color: white;
}